<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ==" crossorigin="anonymous" />
    </head>
    <body>
        <h1>You searched for: <%= data.searchQuery %></h1>

        <% if(data.goodReadsResponse) { %>
            <ul>
                <%= data.totalResults %>
                <% data.goodReadsResponse.forEach(function(book) { %>
                    <li>
                        <span><%= book.title %></span>
                        <span><%= book.author %></span>
                        <span><img src="<%= book.image_url %>"/></span>
                        <span><img src="<%= book.small_image %>"/></span>
                        <span><%= book.original_publication_year %></span>
                    </li>
                <% }); %>
            </ul>
            <% if(data.totalLoad >= data.totalResults) { %>
                <div class="load-more__container">
                    <button class="load-more__button" type="button">Load More</button>
                </div>
            <% } %>
        <% } %>
    </body>

    <script type="text/javascript">
        const loadMore = document.querySelector('.load-more__button');

        loadMore.addEventListener('click', (event) => {
            event.preventDefault('Load More');
            //console.log('load more');
        });
    </script>

    <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.5/pagination.min.js"></script>

    <script type="text/javascript">
        $('#pagination-container').pagination({
            dataSource: [1,2,3,4,5,6,7,8,9,10],
            pageSize: 5,
            totalNumber: 20,
            callback: function(data, pagination) {
                var html = template(data);
                dataContainer.html(html);
            }
        });
    </script>-->
</html>