<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ==" crossorigin="anonymous" />
    </head>
    <body>
        <h1>You searched for: <%= data.searchQuery %></h1>

        <% if(data.goodReadsResponse) { %>
            <ul class="data-container">
                <%= data.totalResults %>
                <%= data.currentPage %>
                <% data.goodReadsResponse.forEach(function(book) { %>
                    <li>
                        <span><%= book.title %></span>
                        <span><%= book.author %></span>
                        <span><img src="<%= book.image_url %>"/></span>
                        <span><img src="<%= book.small_image %>"/></span>
                        <span><%= book.original_publication_year %></span>
                    </li>
                <% }); %>
            </ul>
            <% if(data.resultsEnd <= data.totalResults) { %>
                <form method="post" action="/search">
                    <!--<input type="hidden" name="test" value="<%= data.goodReadsResponse[0].title %>">-->
                    <button type="submit" class="load-more__button">Load More</button>
                </form>


                <!--<div class="load-more__container">
                    <button class="load-more__button" type="button">Load More</button>
                </div>-->
            <% } %>
        <% } %>
    </body>

    <!--<script type="text/javascript">
        window.addEventListener('load', function() {
            const loadMore = document.querySelector('.load-more__button');
            const dataLength = Object.keys(<%= data.goodReadsResponse %>).length;
            console.log(dataLength);
            const books = {};

            /*data.forEach((book) => {
                console.log(book);
            })*/

            if(loadMore) {
                loadMore.addEventListener('click', (event) => {
                    event.preventDefault('Load More');
                    
                    fetch('/search', {
                        method : 'POST'
                        //body : JSON.stringify(currentPageObj),
                        /*headers : {
                            'content-type' : 'application/json'
                        }*/
                    });
                });
            }
        });
    </script>-->
</html>